.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}


.media{
    height:0;
    padding-top: 56.25%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}


.overlay{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
}
.overlay2{
    position: absolute;
    top: 20px;
    left: 75%;
    color: white;
}

.details{
    display: flex;
    justify-content: space-between;
    margin: '20px';
}

.title{
    padding:0px 16px;
}

.cardActions{
    padding: 0px 16px 8px 16px;
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
}
.border{
    border: solid;
}
.fullHeightCard{
    height: 100%;
}